{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		Bienvenue dans ce site !
	</h1>

	<p>Lorem ipsum dolosr sit amet consectetur adipisicing elit. Voluptatum architecto sit harum esse nemo suscipit ex cupiditate autem natus cum quis, corrupti nesciunt voluptatem dicta asperiores magni corporis quod, vel sint debitis temporibus reiciendis saepe? Error necessitatibus non voluptatibus optio?</p>
	<p>Odit praesentium explicabo rerum voluptate esse ullam voluptatum, doloremque numquam ipsam facilis sed provident cum iste velit. Eius aliquam distinctio ipsum tempore optio consequuntur adipisci vitae, eum nemo sapiente debitis sequi! Consectetur iste nulla rem repudiandae perferendis non porro libero.</p>
	
{% endblock %}
